body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}
.insta-logo {
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
}
.card-generator {
    margin: 20px;
}
.card-display {
    margin-top: 20px;
}
.card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}
footer {
    background-color: #222;
    color: #ccc;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
